<!DOCTYPE html>
<html>

<head>
    <title>Nameless | Applications</title>
    <link id="theme" rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/applications.css">
</head>

<body>
    <!-- Wrapper for centering things. -->
    <wrapper>
        <!-- The center box that contains the page's content. -->
        <center>
            <!-- Header for the centered box. -->
            <header>
                <red id="reddot">⬤</red>
                <yellow id="yellowdot">⬤</yellow>
                <green id="greendot">⬤</green>
                <h2 id="text">Nameless &copy; 2024</h2>
            </header>
            <!-- Contains all the applications. With the ability to refresh them. -->
            <button onclick="loadApplications(true)">Refresh</button>
            <applications id="applications"> 
                
            </applications>
            </div>
        </center>
    </wrapper>
</body>

<script>




    /**
     * 
     * @param {Boolean} refresh
     * Loads all of the applications u can specify to refresh them or not.
     */
    const loadApplications = async (refresh=false) => {

        const apps = await fetch('/api/v1/applications').then(res => res.json()); // Fetches the applications from the route.

        const b = document.getElementById('applications')
        if(refresh) { // Checks if the refresh var is true.
            console.log("[Nameless WS] | Refreshing Applications.")
            b.innerHTML = " "
        }

        Object.keys(apps).forEach((app) => { // With the applications loops through them and adds them to the applications div.
            let a = apps[app];
            let {name, phone, email, position, portfolio, addy, work} = a;

            let appFormat = 
            `<application>
                <h1>${name}'s Application</h1>
                <h2>${position}</h2>
                <questions>
                    <h3>Question - Answer</h3>
                    <h3>What is your Phone Number? - <blue>${phone}</blue></h3>
                    <h3>What is your email? - <blue>${email}</blue></h3>
                    <h3>Do you have a portfolio? If so share it here. - <blue>${portfolio}</blue></h3>
                    <h3>What is your address? - <blue>${addy}</blue></h3>
                    <h3>What is your availale work hours per week?- <blue>${work}</blue></h3>
                </questions>
            </application>`

            b.innerHTML += appFormat;
        })

        const applications = document.querySelectorAll('application'); // Gets all the just put down applications.

        applications.forEach(app => {  // For each of them it adds a click event listener which adds the drop down animation for the questions.

            app.addEventListener('click', (e) => {

                if(e.target.closest('questions')) {
                    return;
                }

                app.classList.toggle('show');
                
                const questions = app.querySelector('questions');
                questions.classList.toggle('show');
            });
        });
    }

    loadApplications();

    const toggleLightClass = () => {
        const elements = document.querySelectorAll('*');

        elements.forEach(element => {
            if (element.classList.contains('light')) {
                element.classList.remove('light');
            } else {
                element.classList.add('light');
            }
        });
    }

    toggleLightClass();


</script>

</html>