<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nameless | Careers</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/careers.css">
</head>
<body>
    <wrapper>
        <center>
            <header>
                <red id="reddot">⬤</red>
                <yellow id="yellowdot">⬤</yellow>
                <green id="greendot">⬤</green>
                <h2 id="text">Nameless &copy; 2024</h2>
            </header>
            <img src="images/careers.png">
            <careers>
                <div class="career-wrapper">
                    <h1 id="backend" class="career">BACKEND</h1>
                    <description id="backend2">
                        <h2>Requirements:</h2>
                        <h3>You must be flexible and able to test your backend code along with being able to debug it.</h3>
                        <h3>You must be skilled in backend developement</h3>
                        <h3>You must have the ability to respond when needed and work with others.</h3>
                    </description>
                </div>
                <div class="career-wrapper">
                    <h1 id="photo" class="career">PHOTOGRAPHER</h1>
                    <description id="photographer">
                        <h2>Requirements:</h2>
                        <h3>You must be able to be flexible and be able to change a design easily.</h3>
                        <h3>You must be skilled in graphic design</h3>
                        <h3>You must have the ability to respond when needed and work with others.</h3>
                    </description>
                </div>
                <div class="career-wrapper">
                    <h1 id="graphic" class="career">DESIGNER</h1>
                    <description id="graphic2">
                        <h2>Requirements:</h2>
                        <h3>You must be able to be flexible and be able to change a design easily.</h3>
                        <h3>You must be skilled in graphic design</h3>
                        <h3>You must have the ability to respond when needed and work with others.</h3>
                    </description>
                </div>
                <h1 id="applybtn">APPLICATIONS</h1>
            </careers>
        </center>
    </wrapper>
    <script>
        const toggleLightClass = () => {
            const elements = document.querySelectorAll('*');

            elements.forEach(element => {
                if(element.classList.contains('light')) {
                    element.classList.remove('light');
                } else {  
                    element.classList.add('light');
                }
            });
        }

        const careers = document.querySelector('careers');
        const descriptions = document.querySelectorAll('description');
    
    
        const applybtn = document.getElementById("applybtn");

        applybtn.addEventListener('click', (event) => {
            document.location.href="/apply"
        })

        careers.addEventListener('click', (event) => {
        if (event.target.classList.contains('career')) {
            const descriptions = document.querySelectorAll('.career');
            const descriptionTags = document.querySelectorAll('description');

            descriptions.forEach((element) => {
                element.classList.add('slide');
            });

            descriptionTags.forEach((element) => {
                if (element !== event.target.nextElementSibling && element.classList.contains('show')) {
                    element.classList.remove('show');

                }
            });

            const description = event.target.nextElementSibling;
            description.classList.toggle('show');

            let i = 0;
            descriptionTags.forEach((element) => {
                if(!element.classList.contains("show")) {
                    i++;
            
                }
            })

            if(i==3) {
                descriptions.forEach((desc) => {
                    desc.classList.remove('slide');
                })
            }

        }
    });






        toggleLightClass();
    </script>
</body>
</html>
