<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nameless | Careers</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/careers.css">
</head>
<body>
    <wrapper>
        <center>
            <header>
                <red id="reddot">⬤</red>
                <yellow id="yellowdot">⬤</yellow>
                <green id="greendot">⬤</green>
                <h2 id="text">Nameless &copy; 2024</h2>
            </header>
            <img src="images/careers.png">
            <careers>
                <div class="career-wrapper">
                    <h1 id="backend" class="career">BACKEND</h1>
                    <description id="backend2">
                        <h2>Requirements:</h2>
                        <h3>You must be flexible and able to test your backend code along with being able to debug it.</h3>
                        <h3>You must be skilled in backend developement</h3>
                        <h3>You must have the ability to respond when needed and work with others.</h3>
                    </description>
                </div>
                <div class="career-wrapper">
                    <h1 id="photo" class="career">PHOTOGRAPHER</h1>
                    <description id="photographer">
                        <h2>Requirements:</h2>
                        <h3>You must be able to be flexible and be able to change a design easily.</h3>
                        <h3>You must be skilled in graphic design</h3>
                        <h3>You must have the ability to respond when needed and work with others.</h3>
                    </description>
                </div>
                <div class="career-wrapper">
                    <h1 id="graphic" class="career">DESIGNER</h1>
                    <description id="graphic2">
                        <h2>Requirements:</h2>
                        <h3>You must be able to be flexible and be able to change a design easily.</h3>
                        <h3>You must be skilled in graphic design</h3>
                        <h3>You must have the ability to respond when needed and work with others.</h3>
                    </description>
                </div>
                <h1 id="applybtn">APPLICATIONS</h1>
            </careers>
        </center>
    </wrapper>
    <script>
        const toggleLightClass = () => {
            const elements = document.querySelectorAll('*');

            elements.forEach(element => {
                if(element.classList.contains('light')) {
                    element.classList.remove('light');
                } else {  
                    element.classList.add('light');
                }
            });
        }

        const careers = document.querySelector('careers');
        const descriptions = document.querySelectorAll('description');
    
    
        const applybtn = document.getElementById("applybtn");

        applybtn.addEventListener('click', (event) => {
            document.location.href="/apply"
        })

        // Add an event listener to the 'careers' element, which listens for clicks
        careers.addEventListener('click', (event) => {
            // Check if the clicked element has the class 'career'
            if (event.target.classList.contains('career')) {
                // Select all elements with the class 'career' and 'description'
                const descriptions = document.querySelectorAll('.career');
                const descriptionTags = document.querySelectorAll('description');
        
                // Add the 'slide' class to all elements with the class 'career'
                descriptions.forEach((element) => {
                    element.classList.add('slide');
                });
        
                // Loop through each 'description' element
                descriptionTags.forEach((element) => {
                    // If the element is not the next sibling of the clicked element and has the class 'show', remove the class 'show'
                    if (element !== event.target.nextElementSibling && element.classList.contains('show')) {
                        element.classList.remove('show');
                    }
                });
        
                // Toggle the 'show' class of the next sibling of the clicked element
                const description = event.target.nextElementSibling;
                description.classList.toggle('show');
        
                // Count the number of 'description' elements that do not have the class 'show'
                let i = 0;
                descriptionTags.forEach((element) => {
                    if (!element.classList.contains("show")) {
                        i++;
                    }
                })
        
                // If there are three 'description' elements without the class 'show', remove the 'slide' class from all elements with the class 'career'
                if (i == 3) {
                    descriptions.forEach((desc) => {
                        desc.classList.remove('slide');
                    })
                }
            }
        });






        toggleLightClass();
    </script>
</body>
</html>
