<!DOCTYPE html>
<html>

<head>
    <title>Nameless | Homepage</title>
    <link id="theme" rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/colors.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/careers.css">
    <link href="https://fonts.googleapis.com/css2?family=Kenia&family=Protest+Riot&display=swap" rel="stylesheet">
</head>

<body>
    <!-- The wrapper that makes everything centered. -->
    <wrapper>
        <!--The center part of the page. The center box.-->
        <center>
            <!-- Header for the center box. -->
            <header>
                <red id="reddot">⬤</red>
                <yellow id="yellowdot">⬤</yellow>
                <green id="greendot">⬤</green>
                <h2 id="text">Nameless &copy; 2024</h2>
            </header>
            <!-- The image for the logo underneath the header. -->
            <img src="images/logo.png" style="height: 150px; width: auto;">
            <!-- The register box used for getting the stuff. Also what is replaced for the QRCode and 2FA Stuff. -->
            <div id="kyu-kyu">
                <h3>Email - <input type="input" id="email"></h3>
                <h3>Username - <input type="text" id="user"></h3>
                <h3>Password - <input type="text" id="pass"></h3>
                <!-- Submit button :) -->
                <button onclick="submit()" class="submit">SUBMIT</button>
            </div>

            
        </center>
    </wrapper>
</body>

<script>


const toggleLightClass = () => {
  const elements = document.querySelectorAll('*');

  elements.forEach(element => {
    if(element.classList.contains('light')) {
      element.classList.remove('light');
    } else {  
      element.classList.add('light');
    }
  });
}

toggleLightClass()

     /**
      * Submits the account registration to the /register endpoint.
     */
    const submit = async () => {

        console.log("submitted")
        const pass = document.getElementById('pass').value;
        const user = document.getElementById('user').value
        const email = document.getElementById('email').value;

        const authKey = '<%=authKey%>'; // When accessing this site it puts the AuthKey sent to the page via ExpressJS

        const data = { // User data.
            name: user,
            email: email,
            password: pass,
            auth: authKey
        }

        console.log(data);

        const resp = await fetch('/register', { // Sends the request to /register for it to be processed.
            method: 'POST',
            body: JSON.stringify({
                data
            }),
            headers: {
                "Content-Type": "application/json",
            }
        }).then(res => res.json());


        console.log(resp);

        // Rewrites the HTML inside the element with the id 'kyu-kyu'
        document.getElementById('kyu-kyu').innerHTML = `
        <br>
        <h3>Scan the QR code using your Authy app or enter the following secret manually:</h3>
        <h3>${resp.secret}</h3>
        <br>
        <h3>Passcode: ${resp.passcode} (<a href="/2fa">2fa</a>)</h3>
        <br>
        <img style="height: 150px; width: auto;" src="${resp.data_url}">
        `


        
    }


    </script>

</html>