careers {
    display: flex;
    flex-direction: column;
    margin-top: 220px;
}


careers p {
  font-family: 'Munchkin Cream', sans-serif;
  font-size: 2em;
  font-weight: 800;
  left:250px;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, #FF0000, #FF0000 50%, #cf0000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 655ms ease, transform 1s ease;
  cursor: pointer;
  z-index: 1;
}

careers p:hover {
  background-position: 0%;
}


careers p.slide {
  transform: translateX(-250px);
}

.career-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

careers description {
  opacity: 0;
  width: 500px;
  left: 0;
  height: 250px;
  margin-left: 25px;
  background-color: rgb(122, 122, 122);
  transition: left 1s ease, opacity 750ms ease;
  position: absolute;
  z-index: 0;
}

careers description.show {
  left: 300px;
  opacity: 1;
}
